{% extends "base.html" %}
{% block content %}	
	<div class="main">
		<center>
			<h1>
				Simple ports monitoring
				<br />
			</h1>
			<h2>
				Now you have next services:
				<br />
			</h2>
		</center>
		<div class="sort_menu">
			<a href="/" title="Do not sort">Do not sort</a>
			<a href="?sort=by_status" id="sort_by_status" title="Sort by status">Sort by status</a>
		</div>
	
		{% for s in services %}
			{% if s.3 == 1 %}
				{% if s.2 == 1 %}
					<div class="services good">
				{% else %}
					<div class="services err">
				{% endif %}
			{% else %}
				<div class="services dis">
			{% endif %}
					<div class="ip">
						{{s.0}}:{{s.1}}
					</div>
					<div class="desc">
						{% if s.4 != 'None' %}
							<b>{{s.4}}</b>
						{% endif %}
					</div>
					{% if s.3 == 1 %}
						{% if s.2 == 1 %}
							<div class="up">
								<center>
									UP
								</center>
							</div>
						{% else %}
							<div class="down">
								<center>
									DOWN
								</center>
							</div>
						{% endif %}
					{% else %}
						<div class="disable">
							<center>
								Disabled
							</center>
						</div>
					{% endif %}
				</div>
		{% endfor %}
	</div>
	{% if sort == 'by_status' %}
		<script>
			sort_by_status();
		</script>
	{% endif %}
{% endblock %}